[package]
name = "nexus-prover"
authors = { workspace = true }
version = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
publish = { workspace = true }
keywords = { workspace = true }
categories = { workspace = true }

[dependencies]
clap.workspace = true

#rayon = "1.8"
snmalloc-rs = { version = "0.3.4", optional = true }

zstd = { version = "0.12", default-features = false }

nexus-riscv = { path = "../riscv" }
nexus-riscv-circuit = { path = "../riscv-circuit" }
spartan = { path = "../spartan", package = "ark-spartan" }
supernova = { path = "../supernova", features = ["spartan"] }

ark-ff.workspace = true
ark-ec.workspace = true
ark-std.workspace = true
ark-crypto-primitives.workspace = true
ark-relations.workspace = true
ark-r1cs-std.workspace = true
ark-serialize.workspace = true

ark-bn254.workspace = true
ark-grumpkin.workspace = true

[features]
default = ["parallel", "snmalloc"]
parallel = [
   "ark-ff/parallel",
   "ark-ec/parallel",
   "ark-std/parallel",
   "ark-crypto-primitives/parallel",
   "ark-r1cs-std/parallel",
   "supernova/parallel",
]
snmalloc = ["snmalloc-rs"]
