name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened, labeled]
  push:
    branches:
      - main

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          components: rustfmt
          toolchain: nightly-2025-01-02

      - name: Run `cargo fmt`
        run: |
          cargo fmt --all --check
          cd prover-benches && cargo fmt --check

  check-and-clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: "true"
          cache-on-failure: "true"

      - name: Install & Use `mold`
        uses: rui314/setup-mold@v1

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          components: clippy
          toolchain: nightly-2025-01-02
          targets: riscv32i-unknown-none-elf

      - name: Add clippy
        run: rustup component add clippy

      - name: Make Warnings Errors
        run: echo "RUSTFLAGS=-D warnings" >> $GITHUB_ENV

      - name: Run `cargo check`
        run: |
          cargo check --all-features --all-targets --workspace
          cargo check --all-features --examples --workspace
          cd prover-benches && cargo check --benches --workspace

      - name: Run `cargo clippy`
        run: cargo clippy --no-deps --all-targets --all-features

  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        crate: [nexus-common, nexus-vm, nexus-vm-prover, testing-framework, nexus-precompiles]
    steps:
      - uses: actions/checkout@v4

      - uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: "true"
          cache-on-failure: "true"

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly-2025-01-02
          targets: riscv32i-unknown-none-elf

      - name: Install cargo-expand
        run: cargo install cargo-expand --locked --version 1.0.95 # blocked on upgrading rust; might involve upgrading stwo-prover

      - uses: taiki-e/install-action@nextest

      - name: Install & Use `mold`
        uses: rui314/setup-mold@v1

      - name: Make Warnings Errors
        run: echo "RUSTFLAGS=-D warnings" >> $GITHUB_ENV

      - name: Build VM Guest Binaries
        run: echo "NEXUS_VM_BUILD_GUEST_TEST_BINARIES=true" >> $GITHUB_ENV

      - name: Run tests for ${{ matrix.crate }}
        run: cargo nextest run --package ${{ matrix.crate }} --cargo-profile ci-test --all-features --test-threads num-cpus

      - name: Run doc tests for ${{ matrix.crate }}
        run: cargo test --package ${{ matrix.crate }} --doc
